<!DOCTYPE html>

{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <title>spirit2017</title>
    <!-- <link rel="stylesheet" href="{% static "css/homestyle.css"}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="container-fluid">
      <!-- Header -->
      <div id="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <img src="{% static "images/logo.jpg" %}" width="50" height="50" alt="Image not found">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active"><a href="home.html">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="events.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Events
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Athletics</a>
              <a class="dropdown-item" href="#">Badminton</a>
              <a class="dropdown-item" href="#">Basketball</a>
              <a class="dropdown-item" href="#">Cricket</a>
              <a class="dropdown-item" href="#">Hockey</a>
              <a class="dropdown-item" href="#">Lawn Tennis</a>
              <a class="dropdown-item" href="#">Table Tennis</a>
              <a class="dropdown-item" href="#">Volleyball</a>
              <a class="dropdown-item" href="#">Football</a>
              <a class="dropdown-item" href="#">Chess</a>
            </div>
          </li>
          <li class="nav-item"><a href="gallary.html">Gallery</a></li>
          <li class="nav-item"><a href="organizingteam.html">Organizer Team</a></li>
          <li class="nav-item"><a href="rulebook.html">Rule Book</a></li>
          <li class="nav-item"><a href="sponsors.html">Sponsors</a></li>
        </ul>
      </div>
    </nav>

  </div>
    <!-- Body -->
    <h1>Welcome to Spirit 2017</h1>
    <h3>12th October 2017 to 15th October 2017</h3>
    <div class="row">
      <div class="col-sm-6">
        <h3>ABOUT</h3>
        <p>Spirit is the annual festival of IIT Guwahati.Through its inception spirit has served as a great platform for building sports enthusiasts, and also recognizing great talents in different sporting events by taking a leap forward in redefing the spirit in sports. </p>
        <p>Last year result</p>
      </div>
      <div class="col-sm-6">
        <img src="{% static "images/homeimg.jpg" %}" width="400" height="300" alt="no image">
      </div>
    </div>

    <div class="sponsors">
      <img src="{% static "images/sbiLogo.jpg" %}" alt="Image not found!"height="80" width="200">
      <img src="{% static "images/payism.jpg" %}" alt="Image not found!"height="100" width="100">
      <img src="{% static "images/decathlon.jpg" %}" alt="Image not found!"height="80" width="200">
    </div>
    <!-- footer -->
    <div class="footer">
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">
          Developed and maintained by SWC
        </span>
        <span class="navbar-text">
          Contacts : +91 9854252556
        </span>
      </nav>

        <!-- <p>Developed and maintained by SWC</p>
        <p>Contacts : +91 9854252556</p> -->

    </div>
    </div>
  </body>
</html>
