<!DOCTYPE html>

{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="{% static "css/gallary.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- header -->
    <!-- images -->

    <div class="img-rounded" >
      <img src="{% static "images/gallary/ath1.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/ath2.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/ath3.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/ath4.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/bad1.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/bad2.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/bad3.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/bad4.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/basket2.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/basket3.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/basket4.jpg" %}" alt="Image not found">
    </div>
   <div class="img-rounded">
     <img src="{% static "images/gallary/cricket1.jpg" %}" alt="Image not found">
   </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/cricket2.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/cricket3.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/cricket4.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/cricket6.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/football1.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/football2.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/football3.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/football4.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/football5.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/hockey1.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/hockey2.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/hockey3.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/hockey4.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/tt1.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/tt2.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/tt3.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/tt4.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/volley1.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/volley2.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/volley3.jpg" %}" alt="Image not found">
    </div>
    <div class="img-rounded">
      <img src="{% static "images/gallary/volley4.jpg" %}" alt="Image not found">
    </div>



    <!-- footer -->
  </body>
</html>
